---
# yaml-language-server: $schema=https://json.schemastore.org/label-commenter-config.json
version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
