[tools]
uv = "latest"
# =================================================================================================
# Project Tools
# =================================================================================================
terraform = "latest"
terragrunt = "latest"
"azure-cli" = "latest"
# =================================================================================================
# CI Tools
# =================================================================================================
gh = "latest"
actionlint = "latest"
yamllint = "latest"
